<!DOCTYPE HTML>
<html xml:space="default" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Boot REST API</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"
          href="../../css/bootstrap.css" />
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">REST API</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/form">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div>
        <h2>Library REST API</h2>
        <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.description}"></td>
                </tr>
        </table>
    </div>
</div>
</body>
</html>