<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Create book</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"
          href="../../css/bootstrap.css" />
</head>
<body>
    <h2>Create book</h2>
    <form action="#" th:action="@{/form}" th:object="${book}" method="post" class="form-control">
        <p>Id: <input type="number" th:field="*{id}" class="form-control"></input> </p>
        <p>Title: <input type="text" th:field="*{title}" ></input> </p>
        <p>Description: <input type="text" th:field="*{description}" ></input> </p>
        <p><input type="submit" value="Submit"></input> <input type="reset" value="Reset"></input> </p>
    </form>
</body>
</html>